.DS_Store
# Jupyter Notebook
.ipynb_checkpoints
# dataset
*/data/
*/__pycache__/
__pycache__
data
data_cifar100
# *.svg
architecture_search/apex
architecture_search/apex/
checkpoints/*
architecture_search/logs/*
*.tsv
architecture_search/*.json
architecture_search/search_space_zoo/checkpoints/*.json
hpo_experiment/test.py
*.params
*.json
*.zip
notebook/dask-worker-space/*
notebook/checkpoint/*
*.pdf
